// @font-face {
//   font-family: 'Josefin Sans';
//   src: url('../fonts/JosefinSans-SemiBoldItalic.woff') format("woff");
// }

// @font-face {
//   font-family: 'Josefin Sans Bold';
//   src: url('../fonts/JosefinSans-BoldItalic.woff') format("woff");
// }

// @font-face {
//   font-family: 'Source Code Pro';
//   src: url('../fonts/SourceCodePro-Light.woff') format("woff");
// }

// @font-face {
//   font-family: 'Cutive Mono';
//   src: url('../fonts/Cutive Mono-Regular.woff') format("woff");
// }

// @font-face {
//   font-family: 'MajorMonoDisplay';
//   src: url('../fonts/MajorMonoDisplay-Regular.woff') format("woff");
//   font-display: swap;
// }

// @font-face {
//   font-family: 'MajorMonoDisplay-Completed';
//   src: url('../fonts/MajorMonoDisplay-Regular-Completed.woff') format("woff");
//   font-display: swap;
// }

@font-face {
  font-family: 'WireOne';
  src: url('../fonts/WireOne.woff') format("woff");
}

@font-face {
  font-family: 'ChogokubosoGothic';
  src: url('../fonts/chogokubosogothic_5.woff') format("woff");
}
