@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-SemiBoldItalic.woff') format("woff");
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Light.woff') format("woff");
}

@font-face {
  font-family: 'CutiveMono';
  src: url('../fonts/CutiveMono-Regular.woff') format("woff");
}
